# A sample configuration for dhcpcd.
# See dhcpcd.conf(5) for details.

# Allow users of this group to interact with dhcpcd via the control socket.
#controlgroup wheel

# Inform the DHCP server of our hostname for DDNS.
hostname

# Use the hardware address of the interface for the Client ID.
#clientid
# or
# Use the same DUID + IAID as set in DHCPv6 for DHCPv4 ClientID as per RFC4361.
# Some non-RFC compliant DHCP servers do not reply with this set.
# In this case, comment out duid and enable clientid above.
duid

# Persist interface configuration when dhcpcd exits.
persistent

# Rapid commit support.
# Safe to enable by default because it requires the equivalent option set
# on the server to actually work.
option rapid_commit

# A list of options to request from the DHCP server.
option domain_name_servers, domain_name, domain_search, host_name
option classless_static_routes
# Respect the network MTU. This is applied to DHCP routes.
option interface_mtu

# Most distributions have NTP support.
#option ntp_servers

# A ServerID is required by RFC2131.
require dhcp_server_identifier

# Generate SLAAC address using the Hardware Address of the interface
#slaac hwaddr
# OR generate Stable Private IPv6 Addresses based from the DUID
slaac private
noipv4ll

profile static_{{ ansible_facts.default_ipv4.alias }}
static ip_address={{ ansible_facts.default_ipv4.address }}/{{ ansible_facts.default_ipv4.netmask | ipaddr('prefix') }}
static routers={{ ansible_facts.default_ipv4.gateway }}
static domain_name_servers={{ ansible_facts.dns.nameservers | first }}

interface {{ ansible_facts.default_ipv4.alias }}
fallback static_{{ ansible_facts.default_ipv4.alias }}

profile static_eth0
static ip_address={{ ansible_facts.default_ipv4.address }}/{{ ansible_facts.default_ipv4.netmask | ipaddr('prefix') }}
static routers={{ ansible_facts.default_ipv4.gateway }}
static domain_name_servers={{ ansible_facts.dns.nameservers | first }}

interface eth0
fallback static_eth0
